@media (max-height: 696px) {
    header{
        height: auto;
    }
}

@media (min-height: 990px) {
    header {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .main-title {
        font-size: 32px;
    }

    header {
        .header {
            &_contacts {
                &_tel {
                    font-size: 22px;
                }

                &_btn {
                    font-size: 14px;
                }
            }
        }

        .top-info {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 24px;
            }
        }
    }

    main {
        .get_price-block {

            .get_price {
                .get_price_form {
                    padding: 20px;

                    .get_price_form_item {
                        width: 180px;
                        margin-right: 30px;

                        &:last-child {
                            margin-right: 0px;
                        }

                        .submit-btn {
                            padding: 10px;
                            font-size: 16px;
                            margin-top: 28px;
                        }
                    }
                }
            }
        }

        .auto-block {
            .auto {
                &_section {
                    .auto_item {
                        margin: 0 10px;

                        img {
                            max-width: 120px;
                        }
                    }
                }
            }
        }

        .feedback-block {
            .feedback {
                &_item {
                    .feedback_item_text {
                        .feedback-text {
                            max-width: 450px;
                        }
                    }
                }
            }
        }

        .consultation-block {
            background-color: #c8cad584;
            display: flex;
            justify-content: center;
            margin: 0;
            padding-bottom: 120px;

            p {
                text-align: center;
                margin-bottom: 20px;
            }

            .consultation {
                .consultation_form {

                    input[type=text],
                    input[type=tel] {
                        width: 230px;
                    }

                    input[type=submit] {
                        padding: 14px;
                        width: 280px;
                        font-size: 16px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    footer {
        .contacts-block {
            background-position-x: -420px;

            .contacts {

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        .footer {
            padding: 24px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            &_contacts {
                &_tel {
                    color: $black;
                    font-size: 22px;
                }

                &_btn {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    header {
        .header {
            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 20px;
                }
    
                &_btn {
                    font-size: 14px;
                }
            }
        }
    
        .top-info {
            line-height: 24px;
            margin-top: 100px;
    
            h1 {
                font-size: 30px;
            }
    
            p {
                font-size: 24px;
            }
        }
    
        .top-benefit {
            align-items: flex-start;
            &_item {
                margin-top: 80px;
                max-width: 100px;
                margin-right: 80px;
                p {
                    font-size: 14px;
    
                }
            }
        }
    
        .top-feedback-btn {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            &_item {
                margin-top: 80px;
                padding-bottom: 80px;
    
                button {
                    padding: 14px 40px;
                    font-size: 18px;
                    background-color: initial;
                }
    
                .active-btn {
                    padding: 14px 50px ;
                }
    
                p {
                    margin-top: 14px;
                    font-size: 14px;
                }
            }
        }
    }

    main {
        .service-block {
            .service {
    
                &_item {
                    flex-basis: 40%;
                    margin: 25px 20px;
                }
            }
        }

        .get_price-block {

            .main-p {
                text-align: center;
                margin-bottom: 30px;
            }

            .get_price {
                .get_price_form {
                    padding: 30px;

                    .get_price_form_item {
                        width: 200px;
                        margin-right: 30px;

                        &:last-child {
                            margin-top: 10px;
                        }

                        .submit-btn {
                            padding: 10px;
                            margin-top: 14px;
                        }
                    }
                }
            }
        }

        .auto-block {
            .auto {
                &_section {
                    .auto_item {
                        margin: 0;

                        img {
                            max-width: 100px;
                        }
                    }
                }
            }
        }

        .feedback-block {
            .feedback {
                &_item {
                    .feedback_item_img {
                        align-items: flex-start;
                        margin-right: 20px;
                        img{
                            max-width: 80px;
                        }
                    }
                    .feedback_item_text {
                        .feedback-text {
                            max-width: 450px;
                        }
                    }
                }
            }
        }

        .consultation-block {

            .consultation {
                padding: 40px 20px;
                .consultation_form {

                    input[type=text],
                    input[type=tel] {
                        width: 200px;
                    }

                    input[type=submit] {
                        padding: 14px;
                        width: 220px;
                    }
                }
            }
        }
    }

    footer {
        .contacts-block {
            background-position-x: -620px;
        }

        .footer {

            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 20px;
                }

                &_btn {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 575px) {

    .main-title {
        font-size: 28px;
    }

    header {
        .header {
            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 20px;
                }
    
                &_btn {
                    font-size: 14px;
                }
            }
        }
    
        .top-info {
            line-height: 38px;
            margin-top: 70px;
    
            h1 {
                font-size: 28px;
            }
    
            p {
                font-size: 20px;
            }
        }
    
        .top-benefit {
            align-items: flex-start;
            &_item {
                margin-top: 70px;
                max-width: 100px;
                margin-right: 40px;
                p {
                    font-size: 14px;
    
                }
            }
        }
    
        .top-feedback-btn {
    
            &_item {
                margin-top: 70px;
                padding-bottom: 80px;

                @media (max-width: 549px) {
                    &:first-child{
                        padding-bottom: 40px;
                    }
                    &:last-child{
                        margin-top: 0px;
                        padding-bottom: 70px;
                    }
                }
    
                button {
                    padding: 14px 40px;
                    font-size: 18px;
                    background-color: initial;
                }
    
                .active-btn {
                    padding: 14px 50px ;
                }
    
                p {
                    margin-top: 14px;
                    font-size: 14px;
                }
            }
        }
    }

    main {
        .service-block {
            .service {
                &_item {
                    flex-basis: 70%;
                    margin: 25px 20px;
                }
            }
        }

        .get_price-block {

            .main-p {
                text-align: center;
                margin-bottom: 30px;
            }

            .get_price {
                .get_price_form {
                    padding: 30px;
                    margin: 0 20px;

                    .get_price_form_item {
                        width: 280px;
                        margin-right: 0px;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-top: 10px;
                        }

                        .submit-btn {
                            width: 98%;
                            padding: 10px;
                            margin-top: 24px;
                        }

                        .list {
    
                            .list_item {
    
                                select {
                                    width: 98%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .auto-block {
            .auto {
                &_section {
                    .auto_item {
                        margin: 0;

                        img {
                            max-width: 75px;
                        }
                    }
                }
            }
        }

        .feedback-block {
            .feedback {
                &_item {
                    .feedback_item_img {
                        align-items: flex-start;
                        margin-right: 20px;
                        img{
                            max-width: 80px;
                        }
                    }
                    .feedback_item_text {
                        .feedback-text {
                            max-width: 430px;
                        }
                    }
                }
            }
        }

        .consultation-block {

            .consultation {
                margin: 0 20px;
                padding: 40px 20px;
                .consultation_form {

                    input[type=text],
                    input[type=tel] {
                        width: 260px;
                    }

                    input[type=tel] {
                        margin-left: 0px;
                        margin-top: 20px;
                    }

                    input[type=submit] {
                        padding: 14px;
                        width: 220px;
                    }
                }
            }
        }
    }

    footer {
        .contacts-block {
            background-position-x: -720px;
        }

        .footer {

            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 20px;
                }

                &_btn {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 424px) {

    .main-title {
        font-size: 22px;
        padding-top: 50px;
    }

    header {
        .header {
            .logo{
                img{
                    max-width: 120px;
                }
            }
            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 18px;
                }
    
                &_btn {
                    font-size: 12px;
                }
            }
        }
    
        .top-info {
            line-height: 38px;
            margin-top: 50px;
    
            h1 {
                font-size: 24px;
            }
    
            p {
                font-size: 14px;
            }
        }
    
        .top-benefit {
            align-items: flex-start;
            &_item {
                margin-top: 40px;
                max-width: 70px;
                margin-right: 40px;
                p {
                    font-size: 14px;
    
                }
            }
        }
    
        .top-feedback-btn {
    
            &_item {
                margin-top: 50px;
                padding-bottom: 50px;

                @media (max-width: 549px) {
                    &:first-child{
                        padding-bottom: 40px;
                    }
                    &:last-child{
                        margin-top: 0px;
                        padding-bottom: 70px;
                    }
                }
    
                button {
                    padding: 10px 20px;
                    font-size: 16px;
                }
    
                .active-btn {
                    padding: 10px 30px ;
                }
    
                p {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }

    main {
        .service-block {
            padding-bottom: 50px;
            .service {
                margin-top: 50px;
                &_item {
                    flex-basis: 70%;
                    margin: 25px 20px;
                }
            }
        }

        .get_price-block {

            .main-p {
                padding: 0 20px;
                text-align: center;
                margin-bottom: 30px;
            }

            .get_price {
                .get_price_form {
                    padding: 20px 0px;
                    margin: 0 20px;

                    .get_price_form_item {
                        width: 200px;
                        margin-right: 0px;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-top: 10px;
                        }

                        .submit-btn {
                            width: 98%;
                            padding: 10px;
                            margin-top: 24px;
                        }

                        .list {
    
                            .list_item {
    
                                select {
                                    width: 98%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .auto-block {
            .auto {
                &_section {
                    .auto_item {
                        margin: 0;

                        img {
                            max-width: 58px;
                        }
                    }
                }
            }
        }

        .feedback-block {
            .feedback {
                &_item {
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    .feedback_item_img {
                        align-items: flex-start;
                        margin-right: 0;
                        img{
                            max-width: 80px;
                            margin-bottom: 10px;
                        }
                    }
                    .feedback_item_text {
                        display: block;
                        .feedback-text {
                            max-width: 430px;
                        }
                    }
                }
            }
        }

        .consultation-block {

            .consultation {
                padding: 40px 20px;
                .consultation_form {

                    input[type=text],
                    input[type=tel] {
                        width: 180px;
                    }

                    input[type=tel] {
                        margin-left: 0px;
                        margin-top: 20px;
                    }

                    input[type=submit] {
                        padding: 14px;
                        width: 210px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    footer {
        .contacts-block {
            background-position-x: -820px;
        }

        .footer {
            .logo{
                img{
                    max-width: 120px;
                }
            }
            &_contacts {
                &_tel {
                    text-align: center;
                    font-size: 18px;
                }

                &_btn {
                    font-size: 12px;
                }
            }
        }
    }

}