@import "color";

*{
    font-family: 'Lato';
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.main-title{
    text-align: center;
    font-size: 34px;
    padding-top: 80px;
    margin-bottom: 10vh;
}

header{
    height: 100vh;
    background-image: url(/build/img/header/image-top-min.png);
    background-position-x:  center;
    background-repeat: no-repeat;
    
    .header{
        padding-top: 34px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        &_contacts{
            &_tel{
                color: $white;
                font-size: 26px;
            }
            &_btn{
                color: $red;
            }
        }
    }

    .top-info{
        text-align: center;
        color: $white;
        line-height: 46px;
        margin-top: 12vh;
        h1{
            font-size: 44px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }
        p{
            font-size: 30px;
            margin: 10px 0 0 0; 
        }
    }

    .top-benefit{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        &_item{
            margin-top: 10vh;
            max-width: 160px;
            text-align: center;
            color: $white;
            margin-right: 90px;
            &:last-child{
                margin-right: 0;
            }
            &_img{
                max-width: 160px;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                font-size: 18px;

            }
        }
    }

    .top-feedback-btn{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_item{
            margin-top: 12vh;
            display: flex;
            flex-wrap: wrap;
            max-width: 260px;
            align-items: center;
            justify-content: center;
            button{
                padding: 16px 40px 16px 40px;
                border-radius: 25px;
                border: 2px solid $red;
                color: $white;
                font-size: 18px;
                background-color: initial;
            }
            .active-btn{
                background-color: $red;
                padding: 16px 50px 16px 50px;
            }
            p{
                margin-top: 20px;
                max-width: 164px;
                font-size: 14px;
                color: $white;
                text-align: center;
            }
        }
    }
}

main{
    .service-block{
        background-color: $white;
        max-height: 580px;
        margin: 0;
        padding-bottom: 80px;
        .service{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            &_item{
                flex-basis: 33.33%;
                margin-top: 110px;
                text-align: center;
                h3{
                    margin-top: 30px;
                    font-size: 16px;
                    font-weight: 700;
                }
                p{
                    display: inline-block;
                    margin-top: 20px;
                    max-width: 240px;
                    font-size: 14px;
                }
            }
        }
    }
    .auto-block{
        background-color: $white;
        max-height: 580px;
        margin: 0;
        padding-bottom: 80px;
        margin-top: 80px;
        .auto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            &_section{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-basis: 100%;
                margin-top: 30px;
                &:first-child{
                    margin-top: 0px;
                }
                .auto_item{
                    margin: 0 20px 0 20px;
                }
            }
        }
    }
    .feedback-block{
        background-color: $grey;
        max-height: 580px;
        margin: 0;
        padding-bottom: 80px;
        // margin-top: 80px;
        .feedback{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &_item{
                padding: 20px;
                display: flex;
                justify-content: center;
                margin-right: 30px;
                .feedback_item_img{
                    align-items: flex-start;
                    margin-right: 20px;
                }
                .feedback_item_text{
                    .feedback-name{
                        font-size: 12px;
                    }
                    .feedback-title{
                        color: $red;
                        font-size: 16px;
                        margin-top: 14px;
                    }
                    .feedback-text{
                        max-width: 340px;
                        font-size: 14px;
                        margin-top: 14px;
                    }
                }
                
            }
        }
    }
}